---
import { skills } from "../content/skills";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
  <Fragment slot="title">Skills</Fragment>

  <section>
    <h2 class="text-lg font-medium">Skills</h2>

    <div class="mt-10 space-y-10">
      {skills.map((group) => (
        <div>
          <h3 class="text-base font-medium">
            {group.category}
          </h3>

          <p class="mt-3 text-neutral-600 dark:text-neutral-400 leading-relaxed">
            {group.items.join(" · ")}
          </p>
        </div>
      ))}
    </div>
  </section>
</BaseLayout>