<nav class="mt-6 flex flex-wrap gap-6 text-neutral-600 dark:text-neutral-400">
  <a href="/" class="underline underline-offset-4 hover:text-black dark:hover:text-white">Home</a>
  <a href="/about" class="underline underline-offset-4 hover:text-black dark:hover:text-white">About</a>
  <a href="/projects/1"
   class="underline underline-offset-4 hover:text-black dark:hover:text-white">
    Projects
  </a>
  <a href="/skills/1" class="underline underline-offset-4 hover:text-black dark:hover:text-white">Skills</a>
  <a href="/experience/1" class="underline underline-offset-4 hover:text-black dark:hover:text-white">Experience</a>
  <a href="/open-source/1" class="underline underline-offset-4 hover:text-black dark:hover:text-white">Open Source</a>
  <a href="/education" class="underline underline-offset-4 hover:text-black dark:hover:text-white">Education</a>
    <a
    href="https://blog.ganidande.com"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-black dark:hover:text-white"
  >
    Blog ↗
</nav>

